<div class="box">
  <div class="gs-intro-content">
    <h1 class="gs-title-1">Dialog</h1>
    <p>Boxes simplificados e flexíveis de diálogo que necessitam do minímo de funcionalidades para funcionar.</p>
  </div>

  <p>Inicie o <strong><code>DialogNotificationService</code></strong> para seu aplicativo:</p>

  <button mat-button (click)="alertOpen()">Exibir Alerta!</button>
  <button mat-button (click)="confirmOpen()">Exibir Confirmação!</button>
  <div class="highlight" highlight="all" innerHtml="{{code}}"></div>
</div>

