@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$font-OpenSans: 'Open Sans';
$font-OpenSans-semi-bold: 600;
$font-OpenSans-bold: 700;

@mixin font-semi-bold{
    font-weight: $font-OpenSans-semi-bold;
}

@mixin font-bold{
    font-weight: $font-OpenSans-bold;
}

@mixin font-sutil{
    font-size: 10px;
    line-height: 16px;
}

@mixin font-light{
    font-size: 12px;
    line-height: 16px;
}

@mixin font-harmony{
    font-size: 14px;
    line-height: 24px;
}

@mixin font-rytm{
    font-size: 16px;
    line-height: 24px;
}

@mixin font-see-with-me{
    font-size: 20px;
    line-height: 32px;
}

@mixin font-emphasys{
    font-size: 24px;
    line-height: 32px;
}

@mixin font-tenor{
    font-size: 30px;
    line-height: 40px;
}

@mixin font-opera{
    font-size: 36px;
    line-height: 40px;
}

.ft-open-sans{ font-family: $font-OpenSans; }
.ft-open-sans-bold{ font-weight: $font-OpenSans-bold; }
.ft-open-sans-semi-bold{ font-weight: $font-OpenSans-semi-bold; }

.ft-sutil{ @include font-sutil; }
.ft-light{ @include font-light; }
.ft-harmony{ @include font-harmony; }
.ft-rytm{ @include font-rytm; }
.ft-see-with-me{ @include font-see-with-me; }
.ft-emphasys{ @include font-emphasys; }
.ft-tenor{ @include font-tenor; }
.ft-opera{ @include font-opera; }
