<div class="gs-intro-content">
  <h1 class="gs-title-1">{{'TIT_CORES_TEMA' | translate}}</h1>
  <p>Insira cores no seu projeto.</p>
</div>

<h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Natural Greys</h2>
  <div class="row m-0">
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-black-carbon"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Black Carbon</h3>
          <code class="gs-light text-center">$plt-black-carbon</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-graffiti-carbon"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Carbon</h3>
          <code class="gs-light text-center">$plt-graffiti-carbon</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-graffiti-grey"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Graffiti Grey</h3>
          <code class="gs-light text-center">$plt-graffiti-grey</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-plastic-grey"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Plastic Grey</h3>
          <code class="gs-light text-center">$plt-plastic-grey</code>
      </div>
  </div>

  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Lightness</h2>
  <div class="row m-0">
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-white-platinum"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">White Platinum</h3>
          <code class="gs-light text-center">$plt-white-platinum</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-white-ice"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">White Ice</h3>
          <code class="gs-light text-center">$plt-white-ice</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-full-light"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Full Light</h3>
          <code class="gs-light text-center">$plt-full-light</code>
      </div>
  </div>

  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Blues</h2>
  <div class="row m-0">
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-mineral-blue"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Mineral Blue</h3>
          <code class="gs-light text-center">$plt-mineral-blue</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-blue-lamp"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Blue Lamp</h3>
          <code class="gs-light text-center">$plt-blue-lamp</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-caribbean-salt"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Caribbean Salt</h3>
          <code class="gs-light text-center">$plt-caribbean-salt</code>
      </div>
  </div>

  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Purples</h2>
  <div class="row m-0">
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-violet"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Violet</h3>
          <code class="gs-light text-center">$plt-violet</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-amethyst"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Amethyst</h3>
          <code class="gs-light text-center">$plt-amethyst</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-neon"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Neon</h3>
          <code class="gs-light text-center">$plt-neon</code>
      </div>
  </div>

  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Reds</h2>
  <div class="row m-0">
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-achiote"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Achiote</h3>
          <code class="gs-light text-center">$plt-achiote</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-pepper-teen"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Pepper Teen</h3>
          <code class="gs-light text-center">$plt-pepper-teen</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-salmon"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Salmon</h3>
          <code class="gs-light text-center">$plt-salmon</code>
      </div>
  </div>

  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Oranges</h2>
  <div class="row m-0">
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-red-lead"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Red lead</h3>
          <code class="gs-light text-center">$plt-red-lead</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-nuclear-orange"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Nuclear Orange</h3>
          <code class="gs-light text-center">$plt-nuclear-orange</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-acid"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Acid</h3>
          <code class="gs-light text-center">$plt-acid</code>
      </div>
  </div>

  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Greens</h2>
  <div class="row m-0">
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-nature"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Nature</h3>
          <code class="gs-light text-center">$plt-nature</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-vibrant-green"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Vibrant Green</h3>
          <code class="gs-light text-center">$plt-vibrant-green</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-plastic-green"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Plastic Green</h3>
          <code class="gs-light text-center">$plt-plastic-green</code>
      </div>
  </div>

  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Goldens</h2>
  <div class="row m-0">
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-golden"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Golden</h3>
          <code class="gs-light text-center">$plt-golden</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-eletric"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Eletric</h3>
          <code class="gs-light text-center">$plt-eletric</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-bright"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Bright</h3>
          <code class="gs-light text-center">$plt-bright</code>
      </div>
  </div>

  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Gradient</h2>
  <div class="row m-0">
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-sky"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Sky</h3>
          <code class="gs-light text-center">$plt-sky</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-summer"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Summer</h3>
          <code class="gs-light text-center">$plt-summer</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-metal"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Metal</h3>
          <code class="gs-light text-center">$plt-metal</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-furnace"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Furnace</h3>
          <code class="gs-light text-center">$plt-furnace</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-parfum"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Parfum</h3>
          <code class="gs-light text-center">$plt-parfum</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-green-cream"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Green Cream</h3>
          <code class="gs-light text-center">$plt-green-cream</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-sun"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Sun</h3>
          <code class="gs-light text-center">$plt-sun</code>
      </div>
  </div>

  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Pearl Pigment</h2>
  <div class="row m-0">
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-atmosphere"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Atmosphere</h3>
          <code class="gs-light text-center">$plt-atmosphere</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-burn"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Burn</h3>
          <code class="gs-light text-center">$plt-burn</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-river-to-sea"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">River to Sea</h3>
          <code class="gs-light text-center">$plt-river-to-sea</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-hot-purple"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Hot purple</h3>
          <code class="gs-light text-center">$plt-hot-purple</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-sun-in-the-sky"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Sun in the Sky</h3>
          <code class="gs-light text-center">$plt-sun-in-the-sky</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-inside-the-sun"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Inside the Sun</h3>
          <code class="gs-light text-center">$plt-inside-the-sun</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-sand-oasis"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Sand Oasis</h3>
          <code class="gs-light text-center">$plt-sand-oasis</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-green-ray"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Green Ray</h3>
          <code class="gs-light text-center">$plt-green-ray</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-boreal"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Boreal</h3>
          <code class="gs-light text-center">$plt-boreal</code>
      </div>
      <div class="col-auto bhvr-stick mr-4 mb-4 p-0">
          <div class="color bg-galaxy-light"></div>
          <h3 class="gs-harmony clr-plastic-grey gs-open-sans-bold text-center mt-1 mb-0">Galaxy Light</h3>
          <code class="gs-light text-center">$plt-galaxy-light</code>
      </div>
  </div>
