@import "../../../../../assets/sass/_mixins.scss";
@import "../../../../../assets/sass/_variables.scss";

.color{
    width: 136px;
    height: 136px;
    border-bottom: 1px solid $plt-white-platinum;
}

code{
    background: none;
    margin: 0 0 6px 0;
}