<div class="box mb-5">
    <div class="uikit-box">
        <p [innerHTML]="'COLORS_DESC' | translate"></p>
        <ul>  
            <li><strong class="clr-red-lead">.clr-</strong> (para cor das fontes) - Ex. de <strong class="clr-plastic-grey">$clr-clean-sky</strong> para <strong class="clr-red-lead">.clr-clean-sky</strong></li>
            <li><strong class="clr-red-lead">.bg-</strong> (para cor das fontes) - Ex. de <strong class="clr-plastic-grey">$clr-clean-sky</strong> para <strong class="clr-red-lead">.bg-clean-sky</strong></li>
        </ul>
      </div>
</div>
  
  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Natural Greys</h2>
  <div class="row m-0">
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-black-carbon"></div>
          <h3>Black Carbon</h3>
          <h6>$plt-black-carbon</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-graffiti-carbon"></div>
          <h3>Carbon</h3>
          <h6>$plt-graffiti-carbon</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-graffiti-grey"></div>
          <h3>Graffiti Grey</h3>
          <h6>$plt-graffiti-grey</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-plastic-grey"></div>
          <h3>Plastic Grey</h3>
          <h6>$plt-plastic-grey</h6>
      </div>
  </div>
  
  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Lightness</h2>
  <div class="row m-0">
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-white-platinum"></div>
          <h3>White Platinum</h3>
          <h6>$plt-white-platinum</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-white-ice"></div>
          <h3>White Ice</h3>
          <h6>$plt-white-ice</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-full-light"></div>
          <h3>Full Light</h3>
          <h6>$plt-full-light</h6>
      </div>
  </div>
  
  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Blues</h2>
  <div class="row m-0">
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-mineral-blue"></div>
          <h3>Mineral Blue</h3>
          <h6>$plt-mineral-blue</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-blue-lamp"></div>
          <h3>Blue Lamp</h3>
          <h6>$plt-blue-lamp</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-caribbean-salt"></div>
          <h3>Caribbean Salt</h3>
          <h6>$plt-caribbean-salt</h6>
      </div>
  </div>
  
  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Purples</h2>
  <div class="row m-0">
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-violet"></div>
          <h3>Violet</h3>
          <h6>$plt-violet</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-amethyst"></div>
          <h3>Amethyst</h3>
          <h6>$plt-amethyst</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-neon"></div>
          <h3>Neon</h3>
          <h6>$plt-neon</h6>
      </div>
  </div>
  
  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Reds</h2>
  <div class="row m-0">
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-achiote"></div>
          <h3>Achiote</h3>
          <h6>$plt-achiote</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-pepper-teen"></div>
          <h3>Pepper Teen</h3>
          <h6>$plt-pepper-teen</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-salmon"></div>
          <h3>Salmon</h3>
          <h6>$plt-salmon</h6>
      </div>
  </div>
  
  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Oranges</h2>
  <div class="row m-0">
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-red-lead"></div>
          <h3>Red lead</h3>
          <h6>$plt-red-lead</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-nuclear-orange"></div>
          <h3>Nuclear Orange</h3>
          <h6>$plt-nuclear-orange</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-acid"></div>
          <h3>Acid</h3>
          <h6>$plt-acid</h6>
      </div>
  </div>
  
  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Greens</h2>
  <div class="row m-0">
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-nature"></div>
          <h3>Nature</h3>
          <h6>$plt-nature</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-vibrant-green"></div>
          <h3>Vibrant Green</h3>
          <h6>$plt-vibrant-green</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-plastic-green"></div>
          <h3>Plastic Green</h3>
          <h6>$plt-plastic-green</h6>
      </div>
  </div>
  
  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Goldens</h2>
  <div class="row m-0">
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-golden"></div>
          <h3>Golden</h3>
          <h6>$plt-golden</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-eletric"></div>
          <h3>Eletric</h3>
          <h6>$plt-eletric</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-bright"></div>
          <h3>Bright</h3>
          <h6>$plt-bright</h6>
      </div>
  </div>
  
  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Gradient</h2>
  <div class="row m-0">
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-sky"></div>
          <h3>Sky</h3>
          <h6>$plt-sky</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-summer"></div>
          <h3>Summer</h3>
          <h6>$plt-summer</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-metal"></div>
          <h3>Metal</h3>
          <h6>$plt-metal</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-furnace"></div>
          <h3>Furnace</h3>
          <h6>$plt-furnace</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-parfum"></div>
          <h3>Parfum</h3>
          <h6>$plt-parfum</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-green-cream"></div>
          <h3>Green Cream</h3>
          <h6>$plt-green-cream</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-sun"></div>
          <h3>Sun</h3>
          <h6>$plt-sun</h6>
      </div>
  </div>
  
  <h2 class="gs-rytm gs-open-sans clr-graffiti-grey">Pearl Pigment</h2>
  <div class="row m-0">
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-atmosphere"></div>
          <h3>Atmosphere</h3>
          <h6>$plt-atmosphere</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-burn"></div>
          <h3>Burn</h3>
          <h6>$plt-burn</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-river-to-sea"></div>
          <h3>River to Sea</h3>
          <h6>$plt-river-to-sea</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-hot-purple"></div>
          <h3>Hot purple</h3>
          <h6>$plt-hot-purple</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-sun-in-the-sky"></div>
          <h3>Sun in the Sky</h3>
          <h6>$plt-sun-in-the-sky</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-inside-the-sun"></div>
          <h3>Inside the Sun</h3>
          <h6>$plt-inside-the-sun</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-sand-oasis"></div>
          <h3>Sand Oasis</h3>
          <h6>$plt-sand-oasis</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-green-ray"></div>
          <h3>Green Ray</h3>
          <h6>$plt-green-ray</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-boreal"></div>
          <h3>Boreal</h3>
          <h6>$plt-boreal</h6>
      </div>
      <div class="col-auto uikit-box-colors mr-4 mb-4">
          <div class="color bg-galaxy-light"></div>
          <h3>Galaxy Light</h3>
          <h6>$plt-galaxy-light</h6>
      </div>
  </div>