<mat-toolbar>
  <mat-toolbar-row class="row align-items-center">
    <div class="col-auto">
      <h1>{{ 'PROJETO' | translate }}</h1>
    </div>
    <div class="col-auto bl">
      <h2>{{ 'MODULO' | translate }}</h2>
      <h6>{{ 'DS' | translate }}</h6>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="col-12 p-0">
      <p [innerHTML]="'DS_DESC' | translate"></p>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <nav>
      <h3 class="clr-graffiti-grey ft-rytm ft-open-sans">{{ 'TIT_INTRODUÇÂO' | translate }}</h3>
      <ul>
        <li>
          <a [routerLink]="['/Comecando']" title="{{ 'TIT_COMECANDO' | translate }}">{{ 'TIT_COMECANDO' | translate }}</a>
        </li>
      </ul>
      <h3 class="clr-graffiti-grey ft-rytm ft-open-sans">{{ 'STYLEGUIDE' | translate }}</h3>
      <ul>
        <!-- <li>
          <a href="http://" title="{{ 'TIT_ESTRUTURA_GRID' | translate }}">{{ 'TIT_ESTRUTURA_GRID' | translate }}</a>
        </li>
        <li>
          <a href="http://" title="{{ 'TIT_CLASSES_FUNCIONAIS' | translate }}">{{ 'TIT_CLASSES_FUNCIONAIS' | translate }}</a>
        </li> -->
        <li>
          <a [routerLink]="['/Styleguide/Cores']" title="{{ 'TIT_CORES_TEMA' | translate }}">{{ 'TIT_CORES_TEMA' | translate }}</a>
        </li>
        <!-- <li>
          <a href="http://" title="{{ 'TIT_ICONES' | translate }}">{{ 'TIT_ICONES' | translate }}</a>
        </li> -->
        <li>
          <a [routerLink]="['/Styleguide/Typography']">{{ 'TIT_TYPOGRAPHY' | translate }}</a>
        </li>
      </ul>
      <h3 class="clr-graffiti-grey ft-rytm ft-open-sans">{{ 'COMPONENTS' | translate }}</h3>
      <ul>
        <li>
          <a [routerLink]="['/Components/Dialog']">{{ 'DIALOG' | translate }}</a>
        </li>
        <li>
          <a [routerLink]="['/Components/Toast']">{{ 'TOAST' | translate }}</a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container uikit-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
