<div class="gs-intro-content">
  <h1 class="gs-title-1">Começando</h1>
  <p>Iniciando seu desenvolvimento com Globus Style</p>
</div>

<p>
  <strong>ngx-globus-style</strong> Um framework front-end de comportamento e estilo para projetos web, com uma interface usada por milhares de usuários. Mantido pelos desenvolvedores front-end da BgmRodotec.
</p>

<h2 class="gs-title-3">Dependências</h2>
<p>
  <a href="http://">Angular</a> <code>npm install -g @angular/cli</code>
</p>
<p>
  <a href="http://">Angular Material</a> <code>npm install --save @angular/material @angular/cdk</code>. <br>
  Se estiver usando a versão do Angular 6 execute isto <code>ng add @angular/material</code>
</p>

<h2 class="gs-title-3">Instalação:</h2>
<p>
  Depois de instalar as dependências acima, instale o <code>ngx-globus-style</code> via <a href="http://">npm</a>:
</p>

<code>npm install --save ngx-globus-style</code>

<h3 class="gs-title-5">1. Importe o <code>GlobusStyleModule</code>:</h3>

<p>
  Finalmente, você pode usar o ngx-globus-style no seu projeto Angular. Uma vez instalado, você precisa importar nosso módulo principal <code>GlobusStyleModule</code> no seu root NgModule do seu aplicativo:
</p>

<div highlight="all" innerHtml="{{code}}"></div>
