<div class="gs-intro-content">
  <h1 class="gs-title-1">{{'TIT_PHYSICAL_BEHAVIOR' | translate}}</h1>
  <p>Iniciando seu desenvolvimento com Globus Style</p>
</div>

<h5 class="clr-blue-lamp gs-open-sans-bold gs-rytm mb-4">Behavior - body lighting</h5>

<div class="row">
  <div class="col-6 mb-4">
    <h6 class="gs-light gs-open-sans clr-graffiti-grey">@include bhvr-shape</h6>
    <div class="bhvr-shape"></div>
  </div>
  <div class="col-6 mb-4">
    <h6 class="gs-light gs-open-sans clr-graffiti-grey">@include bhvr-sheet</h6>
    <div class="bhvr-sheet"></div>
  </div>
  <div class="col-6 mb-4">
    <h6 class="gs-light gs-open-sans clr-graffiti-grey">@include bhvr-groove</h6>
    <div class="bhvr-groove"></div>
  </div>
  <div class="col-6 mb-4">
    <h6 class="gs-light gs-open-sans clr-graffiti-grey">@include bhvr-stick</h6>
    <div class="bhvr-stick"></div>
  </div>
  <div class="col-6 mb-4">
    <h6 class="gs-light gs-open-sans clr-graffiti-grey">@include bhvr-stick-charm</h6>
    <div class="bhvr-stick-charm"></div>
  </div>
  <div class="col-6 mb-4">
    <h6 class="gs-light gs-open-sans clr-graffiti-grey">@include bhvr-block</h6>
    <div class="bhvr-block"></div>
  </div>
</div>

<h5 class="clr-blue-lamp gs-open-sans-bold gs-rytm mb-4">Behavior - bevel</h5>

<div class="row">
  <div class="col-4">
    <h6 class="gs-light gs-open-sans clr-graffiti-grey">$bhvr-bvl-young</h6>
    <div class="bhvr-bvl-young bg-white-platinum"></div>
  </div>
  <div class="col-4">
    <h6 class="gs-light gs-open-sans clr-graffiti-grey">$bhvr-bvl-stoned</h6>
    <div class="bhvr-bvl-stoned bg-white-platinum"></div>
  </div>
  <div class="col-4">
    <h6 class="gs-light gs-open-sans clr-graffiti-grey">$bhvr-bvl-full</h6>
    <div class="bhvr-bvl-full bg-white-platinum"></div>
  </div>
</div>
