@import "./../../../../../assets/sass/_mixins.scss";
@import "./../../../../../assets/sass/_variables.scss";

.uikit-box-fonts{
    width: 182px;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    background-color: $plt-full-light;
    box-shadow: 0 10px 20px 0 rgba( $plt-plastic-grey, 0.15);

    span{
        font-size: 56px;
    }

    .uikit-box-fonts-code{
        code{
            height: 32px;
            border-radius: 20px;
            line-height: 32px;
            background: $plt-white-ice;
            color: $plt-plastic-grey;
            display: inline-block;
            font-size: 12px;
            padding: 0 10px;
        }

        pre{
            display: block;
            font-size: 10px;
            margin: 10px 0 15px;
        }
    }
}