<h2 class="clr-graffiti-grey gs-rytm gs-open-sans">{{ 'FONTE' | translate }} <strong class="clr-blue-lamp gs-open-sans-semi-bold">{{ 'OPEN_SANS' | translate }}</strong></h2>

<div class="row m-0">
    <div class="col-auto bhvr-stick mr-4 p-4 text-center">
        <div>
            <span class="d-block gs-open-sans gs-open-sans clr-graffiti-grey gs-opera">Aa</span>
            <code class="gs-light p-2 bhvr-bvl-full">@include font-regular</code>
        </div>
    </div>
    <div class="col-auto bhvr-stick mr-4 p-4 text-center">
        <div>
            <span class="d-block gs-open-sans-semi-bold gs-open-sans clr-graffiti-grey gs-opera">Aa</span>
            <code class="gs-light p-2 bhvr-bvl-full">@include font-semi-bold</code>
        </div>
    </div>
    <div class="col-auto bhvr-stick mr-4 p-4 text-center">
        <div>
            <span class="d-block gs-open-sans-bold gs-open-sans clr-graffiti-grey gs-opera">Aa</span>
            <code class="gs-light p-2 bhvr-bvl-full">@include font-bold</code>
        </div>
    </div>
</div>

<ul class="uitkit-fonts-list mt-5">
    <li>
        <h6 class="gs-light gs-open-sans clr-graffiti-grey">{{ 'FONTE_10' | translate }} - @include font-sutil</h6>
        <p class="gs-sutil gs-open-sans clr-graffiti-grey">
            <strong class="clr-blue-lamp gs-open-sans-semi-bold">10px/16px</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labo...
        </p>
    </li>
    <li>
        <h6 class="gs-light gs-open-sans clr-graffiti-grey">{{ 'FONTE_12' | translate }} - @include font-light</h6>
        <p class="gs-light gs-open-sans clr-graffiti-grey">
            <strong class="clr-blue-lamp gs-open-sans-semi-bold">12px/16px</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo...
        </p>
    </li>
    <li>
        <h6 class="gs-light gs-open-sans clr-graffiti-grey">{{ 'FONTE_14' | translate }} - @include font-harmony</h6>
        <p class="gs-harmony gs-open-sans clr-graffiti-grey">
            <strong class="clr-blue-lamp gs-open-sans-semi-bold">14px/24px</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lor...                    
        </p>
    </li>
    <li>
        <h6 class="gs-light gs-open-sans clr-graffiti-grey">{{ 'FONTE_16' | translate }} - @include font-rytm</h6>
        <p class="gs-rytm gs-open-sans clr-graffiti-grey">
            <strong class="clr-blue-lamp gs-open-sans-semi-bold">16px/24px</strong> Lorem ipsum dolor sit amet, consectetur adipiscin...                    
        </p>
    </li>
    <li>
        <h6 class="gs-light gs-open-sans clr-graffiti-grey">{{ 'FONTE_20' | translate }} - @include font-see-with-me</h6>
        <p class="gs-see-with-me gs-open-sans clr-graffiti-grey">
            <strong class="clr-blue-lamp gs-open-sans-semi-bold">20px/32px</strong> Lorem ipsum dolor sit amet, consecte...                    
        </p>
    </li>
    <li>
        <h6 class="gs-light gs-open-sans clr-graffiti-grey">{{ 'FONTE_24' | translate }} - @include font-emphasys</h6>
        <p class="gs-emphasys gs-open-sans clr-graffiti-grey">
            <strong class="clr-blue-lamp gs-open-sans-semi-bold">24px/32px</strong> Lorem ipsum dolor sit amet c...                    
        </p>
    </li>
    <li>
        <h6 class="gs-light gs-open-sans clr-graffiti-grey">{{ 'FONTE_30' | translate }} - @include font-tenor</h6>
        <p class="gs-tenor gs-open-sans clr-graffiti-grey">
            <strong class="clr-blue-lamp gs-open-sans-semi-bold">30px/40px</strong> Lorem ipsum dolor s...
        </p>
    </li>
    <li>
        <h6 class="gs-light gs-open-sans clr-graffiti-grey">{{ 'FONTE_36' | translate }} - @include font-opera</h6>
        <p class="gs-opera gs-open-sans clr-graffiti-grey">
            <strong class="clr-blue-lamp gs-open-sans-semi-bold">36px/40px</strong> Lorem ipsum d...                    
        </p>
    </li>
</ul>