<div class="gs-intro-content">
  <h1 class="gs-title-1">{{'TIT_CLASSES_FUNCIONAIS' | translate}}</h1>
  <p>Classes e atributos que alteram o layout padrão e comportamento de módulos do <strong>Globus Style</strong></p>
</div>

<div class="bhvr-block p-4 mb-5">
  <h2 class="gs-title-2">Cores e Tema</h2>
  <ul class="bg-white-ice p-2">
      <li>
          <p class="m-0">
              <strong class="clr-red-lead"><code>.clr-</code></strong> (para cor das fontes) - Ex. <strong class="clr-red-lead"><code>.clr-black-carbon</code></strong>
          </p>
      </li>
      <li>
          <p class="m-0">
              <strong class="clr-red-lead"><code>.bg-</code></strong> (para cor de fundo) - Ex. <strong class="clr-red-lead"><code>.bg-black-carbon</code></strong>
          </p>
      </li>
  </ul>

  <h3 class="gs-title-3">Natural Greys</h3>
  <table class="table">
    <tr>
      <th>Classe</th>
      <th>Color</th>
      <th>Background</th>
    </tr>
    <tr>
      <td>black-carbon</td>
      <td>
        <p class="clr-black-carbon">Black Carbon</p>
      </td>
      <td class="bg-black-carbon"></td>
    </tr>
    <tr>
      <td>graffiti-carbon</td>
      <td>
        <p class="clr-graffiti-carbon">Black Carbon</p>
      </td>
      <td class="bg-graffiti-carbon"></td>
    </tr>
    <tr>
      <td>graffiti-grey</td>
      <td>
        <p class="clr-graffiti-grey">Black Carbon</p>
      </td>
      <td class="bg-graffiti-grey"></td>
    </tr>
    <tr>
      <td>plastic-grey</td>
      <td>
        <p class="clr-plastic-grey">Black Carbon</p>
      </td>
      <td class="bg-plastic-grey"></td>
    </tr>
  </table>

  <h3 class="gs-title-3">Lightness</h3>
  <table class="table">
    <tr>
      <th>Classe</th>
      <th>Color</th>
      <th>Background</th>
    </tr>
    <tr>
      <td>white-platinum</td>
      <td>
        <p class="clr-white-platinum">White Platinum</p>
      </td>
      <td class="bg-white-platinum"></td>
    </tr>
    <tr>
      <td>white-ice</td>
      <td>
        <p class="clr-white-ice">White Ice</p>
      </td>
      <td class="bg-white-ice"></td>
    </tr>
    <tr>
      <td>full-light</td>
      <td>
        <p class="clr-full-light">Full Light</p>
      </td>
      <td class="bg-full-light"></td>
    </tr>
  </table>

  <h3 class="gs-title-3">Blues</h3>
  <table class="table">
    <tr>
      <th>Classe</th>
      <th>Color</th>
      <th>Background</th>
    </tr>
    <tr>
      <td>mineral-blue</td>
      <td>
        <p class="clr-mineral-blue">Mineral Blue</p>
      </td>
      <td class="bg-mineral-blue"></td>
    </tr>
    <tr>
      <td>blue-lamp</td>
      <td>
        <p class="clr-blue-lamp">Blue Lamp</p>
      </td>
      <td class="bg-blue-lamp"></td>
    </tr>
    <tr>
      <td>caribbean-salt</td>
      <td>
        <p class="clr-caribbean-salt">Caribbean Salt</p>
      </td>
      <td class="bg-caribbean-salt"></td>
    </tr>
  </table>

  <h3 class="gs-title-3">Purples</h3>
  <table class="table">
    <tr>
      <th>Classe</th>
      <th>Color</th>
      <th>Background</th>
    </tr>
    <tr>
      <td>violet</td>
      <td>
        <p class="clr-violet">Violet</p>
      </td>
      <td class="bg-violet"></td>
    </tr>
    <tr>
      <td>amethyst</td>
      <td>
        <p class="clr-amethyst">Amethyst</p>
      </td>
      <td class="bg-amethyst"></td>
    </tr>
    <tr>
      <td>neon</td>
      <td>
        <p class="clr-neon">Neon</p>
      </td>
      <td class="bg-neon"></td>
    </tr>
  </table>

  <h3 class="gs-title-3">Reds</h3>
  <table class="table">
    <tr>
      <th>Classe</th>
      <th>Color</th>
      <th>Background</th>
    </tr>
    <tr>
      <td>achiote</td>
      <td>
        <p class="clr-achiote">Achiote</p>
      </td>
      <td class="bg-achiote"></td>
    </tr>
    <tr>
      <td>pepper-teen</td>
      <td>
        <p class="clr-pepper-teen">Pepper Teen</p>
      </td>
      <td class="bg-pepper-teen"></td>
    </tr>
    <tr>
      <td>salmon</td>
      <td>
        <p class="clr-salmon">Salmon</p>
      </td>
      <td class="bg-salmon"></td>
    </tr>
  </table>

  <h3 class="gs-title-3">Oranges</h3>
  <table class="table">
    <tr>
      <th>Classe</th>
      <th>Color</th>
      <th>Background</th>
    </tr>
    <tr>
      <td>red-lead</td>
      <td>
        <p class="clr-red-lead">Red lead</p>
      </td>
      <td class="bg-red-lead"></td>
    </tr>
    <tr>
      <td>nuclear-orange</td>
      <td>
        <p class="clr-nuclear-orange">Nuclear Orange</p>
      </td>
      <td class="bg-nuclear-orange"></td>
    </tr>
    <tr>
      <td>acid</td>
      <td>
        <p class="clr-acid">Acid</p>
      </td>
      <td class="bg-acid"></td>
    </tr>
  </table>

  <h3 class="gs-title-3">Greens</h3>
  <table class="table">
    <tr>
      <th>Classe</th>
      <th>Color</th>
      <th>Background</th>
    </tr>
    <tr>
      <td>nature</td>
      <td>
        <p class="clr-nature">Nature</p>
      </td>
      <td class="bg-nature"></td>
    </tr>
    <tr>
      <td>vibrant-green</td>
      <td>
        <p class="clr-vibrant-green">Vibrant Green</p>
      </td>
      <td class="bg-vibrant-green"></td>
    </tr>
    <tr>
      <td>plastic-green</td>
      <td>
        <p class="clr-plastic-green">Plastic Green</p>
      </td>
      <td class="bg-plastic-green"></td>
    </tr>
  </table>

  <h3 class="gs-title-3">Goldens</h3>
  <table class="table">
    <tr>
      <th>Classe</th>
      <th>Color</th>
      <th>Background</th>
    </tr>
    <tr>
      <td>golden</td>
      <td>
        <p class="clr-golden">Golden</p>
      </td>
      <td class="bg-golden"></td>
    </tr>
    <tr>
      <td>eletric</td>
      <td>
        <p class="clr-eletric">Eletric</p>
      </td>
      <td class="bg-eletric"></td>
    </tr>
    <tr>
      <td>bright</td>
      <td>
        <p class="clr-bright">Bright</p>
      </td>
      <td class="bg-bright"></td>
    </tr>
  </table>

  <h3 class="gs-title-3">Gradient</h3>
  <table class="table">
    <tr>
      <th>Classe</th>
      <th>Background</th>
    </tr>
    <tr>
      <td>sky</td>
      <td class="bg-sky"></td>
    </tr>
    <tr>
      <td>summer</td>
      <td class="bg-summer"></td>
    </tr>
    <tr>
      <td>metal</td>
      <td class="bg-metal"></td>
    </tr>
    <tr>
      <td>furnace</td>
      <td class="bg-furnace"></td>
    </tr>
    <tr>
      <td>parfum</td>
      <td class="bg-parfum"></td>
    </tr>
    <tr>
      <td>green-cream</td>
      <td class="bg-green-cream"></td>
    </tr>
    <tr>
      <td>sun</td>
      <td class="bg-sun"></td>
    </tr>
  </table>

  <h3 class="gs-title-3">Pearl Pigment</h3>
  <table class="table">
    <tr>
      <th>Classe</th>
      <th>Background</th>
    </tr>
    <tr>
      <td>atmosphere</td>
      <td class="bg-atmosphere"></td>
    </tr>
    <tr>
      <td>burn</td>
      <td class="bg-burn"></td>
    </tr>
    <tr>
      <td>river-to-sea</td>
      <td class="bg-river-to-sea"></td>
    </tr>
    <tr>
      <td>hot-purple</td>
      <td class="bg-hot-purple"></td>
    </tr>
    <tr>
      <td>sun-in-the-sky</td>
      <td class="bg-sun-in-the-sky"></td>
    </tr>
    <tr>
      <td>inside-the-sun</td>
      <td class="bg-inside-the-sun"></td>
    </tr>
    <tr>
      <td>sand-oasis</td>
      <td class="bg-sand-oasis"></td>
    </tr>
    <tr>
      <td>green-ray</td>
      <td class="bg-green-ray"></td>
    </tr>
    <tr>
      <td>boreal</td>
      <td class="bg-boreal"></td>
    </tr>
    <tr>
      <td>galaxy-light</td>
      <td class="bg-galaxy-light"></td>
    </tr>
  </table>
</div>

